<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
					
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="local" type="com.tenm.domain.LocationInfo"/>
		<typeAlias alias="data" type="com.tenm.domain.Data"/>
		<typeAlias alias="Beacon" type="com.tenm.domain.Beacon"/>
	</typeAliases>

	<mappers>
    	<mapper resource="sql/Mapper.xml"/> 
	</mappers>

</configuration>