
         * { margin:0px; padding:0px; }
        /* Animation Canvas */
        .animation_canvas  {
            position:relative;
			width:40%;
			height:203px;
			overflow:hidden;
			float:left; 
        }
    
        /* Slider Panel */
        .slider_panel {  
			width:1200px;
			position:relative;
		}
        .slider_image { 
			width:400px;
			height:203px;
			float:left;
		}
    
        /* Control Panel */
        .control_panel  {
            position:center;
			top:380px;
			left:270px;
			height:13px;
			overflow:hidden;
        }

        .control_button {
            width:12px;
			height:46px;
			position:relative;
			float:left;
			cursor:pointer;
			background:url("../img/point_button.png");
        }
        .control_button:hover { top:-16px; }
        .control_button.active { top:-31px; }