
	.service{
		min-height: 500px; 
		min-width: 800px;
		width:100%;
		position: relative; 
		opacity: 1;
		
	}
	
	.service_title{
		visibility: visible; 
		top: 0px; 
		width: 100%;
		height: 50px;
		position: relative;
		float:none;
	}
	
	.service_title img{
		position: relative;
		width: 200px;
		float:right;
	}
	
	.service_title h2{
		position: relative;
		top:10px;
	}
	
	.contact_form{
		visibility: visible;
		top: 50px;
		width: 60%;
		min-width:400px;
		min-height: 261px; 
		position: relative;
		float: left;
	}
	
	.contact_form input{
		position: relative;
		min-width: 380px;
		width: 90%;
	}
	
	.contact_form textarea{
		height: 200px;
		width: 90%;
		min-width: 380px;
	}
	
	.contact_form button{
		position: relative;
		margin-left: 80%;
	}
	
	.contact_left{
		visibility: visible; 
		top: 50px; 
		width: 40%; 
		min-height: 115px; 
		min-width: 200px;
		position: relative;
		float: left;
	}
	
	.contact_text{
		position: relative;
		margin-left: 200px;
	}
	
	.contact_text p{
		margin: 0 0 0;
	}
	
	.contact_left img{
		position: relative;
		width: 100%;
		height: 100%;
		max-width: none;
		float: left;
	}
	
	.mainfaq{
		height: 400px;
	}
	
	.top h3{
		text-align:center;
		width: 7%;
		margin-right: 100px;
	}
	
	.help-def{
		height:300px;
		width:85% ;
		margin-left:15%;
	}
	
	.page {
		height: 30px;
	}
	
	
	.faq_content{
		position:relative;
		top:50px;
	}
	
	.faqtable{
		width:70%;
		margin-left: 20%;
	}
	
	.help-visual h3{
		float:left;
		margin-left: 10%;
	}
	
	.help-visual p{
		float: right;
		margin: 10px;
		padding-right: 10%;
	}
		
	.num{
		text-align:center;
		width: 5%;
	}
	
	.title{
		text-align:left;
		width: 30%;
	}
	
	.date{
		text-align:center;
		width: 8%;
	}
	
	.faqimg{
		width:410px;
	}
	