.hero-unit{
	padding: 35px;
	background-image: url('../img/photo_1.png');
	background-size:cover;
	height:240px;
}


.hero-unit p{
	margin: 150px 0 0 80px;
	font-weight: bold;
}

.row{
	height: 321px;
	width: 400px;
	float: left;
}

.row .span4{
	width: 300px;
	float: none;
	margin-left: 80px;
}

.row .span4 h4{
	margin-top: 35px;
}
  
.row .span4 img{
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	padding-right: 10px;
}

/* .asd{
	width: 600px;
	margin-left:inherit;
} */

 
